{
  "presets": [],
  "env": {
    "cjs": {
      "presets": [
        "env"
      ],
      "plugins": [
        [
          "transform-object-rest-spread",
          {
            "useBuiltIns": true
          }
        ],
        "dynamic-import-node"
      ]
    },
    "ejs": {
      "presets": [
        [
          "env",
          {
            "modules": false
          }
        ]
      ],
      "plugins": [
        [
          "transform-object-rest-spread",
          {
            "useBuiltIns": true
          }
        ],
        "dynamic-import-node"
      ]
    }
  }
}