{
  "parser": "babel-eslint",
  "extends": "eslint:recommended",
  "plugins": [
    "mocha"
  ],
  "globals": {
    "__webpack_modules__": true,
    "__webpack_require__": false
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "mocha": true
  }
}